<mat-card>
    <mat-card-header>
        <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table class="full-width">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Name</mat-label>
                            <input [(ngModel)]="user.name" id="user-name" matInput name="user-name"
                                   placeholder="Name" type="text"  >
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Telephone</mat-label>
                            <input [(ngModel)]="user.telephone" id="user-telephone" matInput name="user-telephone"
                                   placeholder="+1123456789" type="tel">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <mat-label>Website</mat-label>
                            <input [(ngModel)]="user.website" id="user-website" matInput name="user-website"
                                   placeholder="me.com" type="url">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width" color="accent">
                            <mat-label>Birth Date</mat-label>
                            <input [(ngModel)]="user.birthDate" [matDatepicker]="pickerUserBirthDate" matInput
                                   name="user-birth-date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle [for]="pickerUserBirthDate"
                                                   matIconSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pickerUserBirthDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field class="full-width">
                    <mat-label>Country</mat-label>
                    <mat-select [(ngModel)]="country.id" name="user-country">
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Summary</mat-label>
                    <textarea [(ngModel)]="user.summary" id="user-summary" matInput
                              name="user-summary" placeholder="Summary" rows="5"
                              type="text"></textarea>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="update()" class="btn btn-primary" mat-button>Save</button>
    </mat-card-actions>
</mat-card>
